* {
    font-family: Helvetica, Arial;
    text-align: center;
}

#content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: repeat(4, minmax(150px, auto));*/
    grid-gap: 10px;
    max-width: 960px;
    margin: 0 auto;
}

#content div {
    padding: 30px;
    background-color: aqua;
}

#content div:nth-child(even) {
    background-color: #777;
}

.nested {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-gap:10px;
    grid-column: span 3;
}
.nested>p{
    padding:20px;
    margin: 0;
    border: 1px solid white;
}