* {
    font-family: Helvetica, Arial;
    text-align: center;
    color: white;
}

#content {
    display: grid;
    max-width: 960px;
    margin: 0 auto;
}

#content div {
    padding: 30px;
    background-color: aqua;
}

#content div:nth-child(even) {
    background-color: #777;
}
